<form>
  <div class="level-up">

    <header class="cell cell--description">
      <h1 class="cell__title">{{char_class_name}}</h1>
      {{#if blurb}}
        <div class="cell__description">{{{blurb}}}</div>
      {{/if}}
    </header>

    <div class="grid grid-3col">

      {{#if races}}
        <section class="cell cell--races">
          <h2 class="cell__title">{{localize "PBTA.ChooseRace"}}</h2>
          <ul class="selection-list">
            {{#each races as |race key|}}
              <li>
                <div class="selection-control">
                  <input type="radio" name="race-selection" data-race="{{key}}">
                </div>
                <div class="selection-content">
                  <h3>{{race.label}}</h3>
                  <p>{{race.description}}</p>
                </div>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}

      {{#if alignments}}
        <section class="cell cell--alignments">
          <h2 class="cell__title">{{localize "PBTA.ChooseAlignment"}}</h2>
          <ul class="selection-list">
            {{#each alignments as |alignment key|}}
              <li>
                <div class="selection-control">
                  <input type="radio" name="alignment-selection" data-alignment="{{key}}">
                </div>
                <div class="selection-content">
                  <h3>{{alignment.label}}</h3>
                  <p>{{alignment.description}}</p>
                </div>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}

      {{#if ability_scores}}
        <section class="cell cell--ability-scores">
          <h2 class="cell__title">{{localize "PBTA.ChooseAbilityScores"}}</h2>
          <ul class="selection-list">
            {{#each ability_labels as |ability ability_key|}}
            {{!-- {{#each ability_scores as |ability_score key|}} --}}
              <li>
                <div class="selection-control">
                  <select name="ability_score.{{ability.short}}" value="" data-ability={{ability.short}}>
                    <option value="">—</option>
                    {{!-- {{#each ../ability_labels as |ability_long ability_short|}} --}}
                    {{#each ../ability_scores as |ability_score key|}}
                      <option value="{{ability_score}}">{{ability_score}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="selection-content">
                  <h3 class="ability-score">{{ability.long}}</h3>
                </div>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}

    </div>

    {{#if ability_scores}}
      {{!-- Hack to make a not condition. --}}
    {{else}}
      <div class="flexrow center">
        <section class="cell cell--ability-scores">
          <h2 class="cell__title">{{localize "PBTA.ChooseAbilityScoresIncrease"}}</h2>
          <ul class="selection-list">
            {{#each ability_labels as |ability ability_key|}}
              <li>
                <div class="selection-control">
                  <input type="radio" name="ability_score.increase" value="{{ability.short}}" data-type="ability-increase" {{#if ability.disabled}}disabled="disabled" readonly{{/if}}>
                </div>
                <div class="selection-content">
                  <h3 class="ability-score">{{ability.long}}</h3>
                </div>
              </li>
            {{/each}}
          </ul>
        </section>
      </div>
    {{/if}}

    {{#if equipment}}
      <div class="grid grid-3col">
        {{#each equipment as |equipmentGroup groupId|}}
          <section class="cell cell--equipment">
            <h2 class="cell__title">{{equipmentGroup.label}}</h2>
            <ul class="selection-list">
              {{#each equipmentGroup.objects as |item key|}}
                <li>
                  <div class="selection-control">
                    {{#ifEquals equipmentGroup.mode "radio"}}
                      <input type="radio" name="equipment.{{groupId}}" data-item-id="{{item._id}}" data-type="equipment">
                    {{else}}
                      <input type="checkbox" name="equipment.{{groupId}}.{{key}}" data-item-id="{{item._id}}" data-type="equipment">
                    {{/ifEquals}}
                  </div>
                  <div class="selection-content">
                    <h4>{{item.name}}</h4>
                  </div>
                </li>
              {{/each}}
            </ul>
          </section>
        {{/each}}
      </div>
    {{/if}}

    {{#if starting_moves}}
      <section class="cell cell--starting_moves">
        <h1 class="cell__title">{{localize "PBTA.ChooseStartingMoves"}}</h1>
        <ul class="selection-list">
          {{!-- Loop through each group of starting moves. --}}
          {{#each starting_move_groups as |moves group|}}
            {{!-- If a movegroup is defined, that means this should be an OR choice. --}}
            {{#if moves.0.data.data.moveGroup}}
              <h2 class="cell__subtitle">{{localize "PBTA.ChooseStartingOne"}}</h2>
            {{!-- Otherwise, everything is valid. --}}
            {{else}}
              <h2 class="cell__subtitle">{{localize "PBTA.ChooseStartingAll"}}</h2>
            {{/if}}
            {{!-- Create the grid and loop through moves within the groups. --}}
            <div class="grid grid-2col">
              {{#each moves as |move key|}}
                <li>
                  <div class="selection-control">
                    {{!-- Moves in a group should be in a radio. --}}
                    {{#if move.data.data.moveGroup}}
                      <input type="radio" name="{{move.data.data.moveGroup}}" data-item-id="{{move.data._id}}" data-type="move">
                    {{!-- Other moves should be checkboxes that the user is forced to take. --}}
                    {{else}}
                      <input type="checkbox" checked data-item-id="{{move.data._id}}" data-type="move" disabled="disabled">
                    {{/if}}
                  </div>
                  {{!-- Finally, show the description. --}}
                  <div class="selection-content">
                    <h3>{{move.data.name}}</h3>
                    <div>{{{move.data.data.description}}}</div>
                  </div>
                </li>
              {{/each}}
            </div>
          {{/each}}
        </ul>
      </section>
    {{/if}}

    {{#ifor advanced_moves_2 advanced_moves_6}}
      <section class="cell cell--advanced_moves">
        <h1 class="cell__title">{{localize "PBTA.ChooseAdvancedMoves"}}</h1>
        {{#if advanced_moves_2}}
          <h2 class="cell__subtitle">{{localize "PBTA.ChooseAdvanced2"}}</h2>
          <ul class="selection-list grid grid-2col">
            {{#each advanced_moves_2 as |move key|}}
              <li>
                <div class="selection-control">
                  <input type="radio" name="move-selection" data-item-id="{{move.data._id}}" data-type="move">
                </div>
                <div class="selection-content">
                  <h3>{{move.data.name}}</h3>
                  <div>{{{move.data.data.description}}}</div>
                </div>
              </li>
            {{/each}}
          </ul>
        {{/if}}

        {{#if advanced_moves_6}}
          <h2 class="cell__subtitle">{{localize "PBTA.ChooseAdvanced6"}}</h2>
          <ul class="selection-list grid grid-2col">
            {{#each advanced_moves_6 as |move key|}}
              <li>
                <div class="selection-control">
                  <input type="radio" name="move-selection" data-item-id="{{move.data._id}}" data-type="move">
                </div>
                <div class="selection-content">
                  <h3>{{move.data.name}}</h3>
                  <div>{{{move.data.data.description}}}</div>
                </div>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </section>
    {{/ifor}}


    {{#if cast_spells}}
    <section class="cell cell--spells">
      <h1 class="cell__title">{{localize "PBTA.ChooseSpells"}}</h1>
      {{#each spells as |spellsByCaster casterKey|}}
        {{#if spellsByCaster.description }}
          <div class="cell__description">{{{spellsByCaster.description}}}</div>
        {{/if}}
        {{#each spellsByCaster.spells as |spellsByLevel spellLevel|}}
          <h2 class="cell__subtitle">{{localize (concat "pbta.Spells" spellLevel)}}</h2>
          <ul class="selection-list grid grid-2col">
            {{#each spellsByLevel as |spell key|}}
              <li>
                <div class="selection-control">
                  <input type="checkbox" {{#ifEquals spellLevel 0}}checked disabled="disabled"{{/ifEquals}} data-item-id="{{spell.data._id}}" data-type="spell">
                </div>
                <div class="selection-content">
                  <h3>{{spell.data.name}}</h3>
                  <div>{{{spell.data.data.description}}}</div>
                </div>
              </li>
            {{/each}}
          </ul>
        {{/each}}
      {{/each}}
    </section>
    {{/if}}

  </div>
</form>