<form class="{{cssClass}} item-form flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PBTA.Common.Name"}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    {{!-- <nav class="sheet-navigation sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "PBTA.Common.Description" }}</a>
        <a class="item" data-tab="details">{{localize "PBTA.Common.Details" }}</a>
    </nav> --}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{!-- <div class="tab" data-group="primary" data-tab="description"> --}}
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        {{!-- </div> --}}

        {{!-- Details Tab --}}
        {{!--
        <div class="tab" data-group="primary" data-tab="details">
        </div> --}}
    </section>
</form>
